node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests-examples/
combined.log
tests/interview
eng.traineddata
zerostep.config.json
env/*.local

# BDD
**/.features-gen/**/*.spec.js
